@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');


:root {
  --bg1: #fafafa;
  --bg2: #c7eeff;
  --color1: #0176c3;
  --color2: #1d242c;
  --color3: #c7eeff;
  --border-radius-1: 6px;
  --border-radius-2: 8px;
  --padding-1: 16px;
  --padding-2: 24px;
  --padding-3: 32px;
  --margin-1: 8px;
  --margin-2: 16px;
  --margin-3: 24px;
  --margin-4: 32px;
  --margin-5: 48px;
  --lora: 'Lora', serif;
  --poppins: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg2);
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3)
}

.color-white {
  color: #fafafa;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.list-style-none {
  list-style-type: none;
}

.mar-r-4 {
  margin-right: 4px;
}

.mar-r-8 {
  margin-right: 8px;
}

.mar-l-8 {
  margin-left: 8px;
}

.mar-b-8 {
  margin-bottom: 8px;
}

.mar-t-16 {
  margin-top: 16px;
}

.primary-btn {
  padding: 16px 12px;
  border-radius: var(--border-radius-1);
  outline: none;
  background-color: var(--bg1);
  color: var(--color1);
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.secondary-btn {
  padding: 16px 12px;
  border-radius: var(--border-radius-1);
  outline: none;
  background-color: var(--bg2);
  color: var(--color2);
  border: none;
  font-size: 16px;
  text-decoration: none;
}

.link1 {
  text-decoration: none;
  background-color: transparent;
  color: var(--color3);
  width: 100%;
  display: block;
  padding: 12px;
  transition: all 0.25s;
  border-radius: var(--border-radius-1);
}

.tertiary {
  background-color: #478778;
  cursor: pointer;
  outline: none;
  padding: 5px 8px;
  border-radius: var(--border-radius-1);
  border: none;
  text-decoration: none;
  font-size: 14px;
  color: var(--bg1);
}

.danger {
  background-color: tomato;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
  border-radius: var(--border-radius-1);
  border: none;
  font-size: 14px;
  color: var(--bg1);
}

.link1:hover {
  background-color: var(--color3);
  color: var(--color2);
  transition: all 0.25s;
}

table {
  width: 100%;
  background-color: var(--color2);
  color: var(--bg1);
  border-radius: var(--border-radius-1);
}

th,
td {
  padding: 16px;
  text-align: left;
}

.height-60 {
  height: 60px;
}

.width-60 {
  width: 60px;
}

.width-160 {
  width: 160px;
}

.height-160 {
  height: 160px;
}

.block {
  display: block;
}

.rounded {
  border-radius: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1
}

.flex-4 {
  flex: 4
}

.flex-wrap {
  flex-wrap: wrap;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--bg2);
  border-radius: var(--border-radius-1);
  padding: var(--padding-1);
  color: var(--bg2);
  width: 100%;
}

option,
option:hover {
  background-color: var(--color2);
  outline: none;
  border-radius: var(--border-radius-1);
  padding: var(--padding-2);
  color: var(--bg2);
  width: 100%;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-12 {
  border-radius: 12px;
}

.box-shadow-1 {
  box-shadow: 2px 2px 8px rgb(0,0,0,0.9);
}

.width-half {
  width: 50%;
}

.width-full {
  width: 100%;
}

.position-rel {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.show-alert {
  padding: var(--padding-1);
  background-color: tomato;
  border-radius: var(--border-radius-2);
  bottom: 100%;
  z-index: 100;  
}

.not-found-container {
  background-color: var(--color2);
  border-radius: var(--border-radius-2);
  padding: 16px;
  height: 160px;
}

.not-found {
  background-color: tomato;
  padding: 16px;
  color: var(--bg1);
  border-radius: var(--border-radius-1);
}

/** DASHBOARD CSS **/

.dashboard-container {
  display: flex;
}

.dashboard-main {
  flex: 4;
  padding: var(--padding-1);
}

/** SIDEBAR CSS **/

.sidebar-main {
  flex: 1;
  padding: var(--padding-1);
}

.sidebar-container {
  position: sticky;
  top: 16px;
  background-color: var(--color2);
  width: 100%;
  height: calc(100vh - (2 * var(--padding-1)));
  padding: var(--padding-1);
  border-radius: var(--border-radius-2);
}

.admin-details {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-3);
}

.admin-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

/** NAVBAR CSS */

.dashboard-navbar {
  width: 100%;
  background-color: var(--color2);
  padding: var(--padding-1);
  border-radius: var(--border-radius-2);
}

/** USER DETAILS PAGE CSS */

.user-details-page,
.product-details-page {
  background-color: var(--color2);
  border-radius: var(--border-radius-2);
  padding: 16px;
}

.input-box {
  width: calc(50% - 8px);
}

.input-box-btn>button {
  height: 60%;
  margin-top: 26px;
}

/** PRODUCT DETAILS PAGE CSS */

.input-box>textarea {
  height: 80%;
}

.product-input-box-btn button {
  margin-top: 24px;
  height: 48px;
}

/** ADD NEW USER */

.add-new-user {
  background-color: var(--color2);
  border-radius: var(--border-radius-2);
}

/** ADD NEW PRODUCT */

.add-new-product-cta > button {
  height: 48px;
  margin-top: 18px;
}
